html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif
}

#mainWrapper {
  height: 100%;
}

.nfont {
  font-family: 'VT323', serif
}

label.dir {
  padding-top: 5px
}

.clickme {
  cursor: pointer
}

.error-message {
  float: left
}

.preselect {
  position: relative
}

.preselect:after {
  position: absolute;
  content: "\25BE";
  top: 19%;
  right: 12px
}

select.form-control {
  -webkit-appearance: none
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  border-color: inherit;
  box-shadow: none;
  -webkit-box-shadow: none;
}

input[type=checkbox] {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 3px
}

input[type=radio] {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 16px
}

.checkbox,
.radio {
  position: relative
}

.checkbox label.real,
.radio label.real {
  display: inline-block;
  padding-top: 2px
}

input[type=checkbox]+label {
  position: absolute;
  height: 16px;
  width: 16px;
  left: 1px;
  top: 0px;
  font-weight: bold;
  font-size: 130%
}

input[type=radio]+label {
  position: absolute;
  height: 16px;
  width: 16px;
  left: 2.5px;
  top: -2.5px;
  font-weight: bold;
  font-size: 130%
}

input[type=checkbox]:checked+label:after {
  content: "\2713"
}

input[type=radio]:checked+label:after {
  content: "\25CF"
}

.modal-content {
  border-radius: 0 !important;
}

.ace_searchbtn.next {
  background-image: none !important
}

.ace_searchbtn.next:after {
  font-family: 'Material Icons';
  content: "keyboard_arrow_down";
  font-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px
}

.ace_searchbtn.prev {
  background-image: none !important
}

.ace_searchbtn.prev:after {
  font-family: 'Material Icons';
  content: "keyboard_arrow_up";
  font-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px
}

.ace_searchbtn_close {
  background-image: none !important;
  position: relative
}

.ace_searchbtn_close:after {
  font-family: 'Material Icons';
  content: "close";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -6px
}

#menuBar #buttons .dropdown-menu .dropdown-submenu {
  position: relative
}

#menuBar #buttons .dropdown-menu .dropdown-submenu>.dropdown-menu {
  top: 0;
  right: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px
}

#menuBar #buttons .dropdown-menu .dropdown-submenu:hover>.dropdown-menu {
  display: block
}

#menuBar #buttons .dropdown-menu .dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  margin-top: 5px;
  margin-right: -10px
}

#menuBar #buttons .dropdown-menu .dropdown-submenu.pull-left {
  float: none
}

#menuBar #buttons .dropdown-menu .dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px
}

.button-assist input {
  display: inline-block;
  margin: 0 10px 0 0;
  width: calc(100% - 7em)
}

.button-assist button {
  vertical-align: top
}

.tac {
  text-align: center
}

.ace_marker-layer .misspelled {
  position: absolute;
  z-index: -2;
  border-bottom: 1px dotted red;
  margin-bottom: -1px
}

.misspelled {
  border-bottom: 1px solid red;
  margin-bottom: -1px
}

body.tomorrow_night_eighties-theme {
  color: #ccc;
  background-color: #263238
}

body.tomorrow_night_eighties-theme a {
  color: #f2f2f2;
}

body.tomorrow_night_eighties-theme hr {
  border-top: 1px solid #414141
}

body.tomorrow_night_eighties-theme .error-message,
body.tomorrow_night_eighties-theme .error {
  color: #a94442
}

body.tomorrow_night_eighties-theme .info {
  color: #309196
}

body.tomorrow_night_eighties-theme .btn {
  /*border: 1px solid #414141;*/
  background-color: transparent;
  color: #ccc;
  border-radius: 0 !important;
}

#buttons .btn {
  margin-top: 5px;
  margin-right: -5px;
}

#buttons .btn-group {
  margin-right: -5px;
  margin-left: -10px;
}

body.tomorrow_night_eighties-theme .btn:hover {
  color: #ccc
}

body.tomorrow_night_eighties-theme #menuBar {
  /*border-bottom: 1px solid #414141*/
}

body.tomorrow_night_eighties-theme #menuBar #messages>div:after {
  color: #ccc
}

body.tomorrow_night_eighties-theme #leftSplitter {
  /*border-right: 1px solid #414141;
  border-left: 1px solid #414141;*/
  background-color: #222D32
}

body.tomorrow_night_eighties-theme #leftSplitter>div .mover {
  background-color: #263238;
}

body.tomorrow_night_eighties-theme #menuBar #buttons .dropdown-menu .dropdown-submenu>a:after {
  border-right-color: #ccc
}

body.tomorrow_night_eighties-theme #leftSide .menu {
  /*border-bottom: 1px solid #414141*/
  border-right: 2px solid #263238;
}

body.tomorrow_night_eighties-theme #leftSide .tools ul li {
  /*border-right: 1px solid #414141*/
  opacity: 0.6;
  font-size: 12px;
  height: 100%;
  width: 100%;
  padding: 8px;
}

body.tomorrow_night_eighties-theme #leftSide .tools ul li.active {
  opacity: 1;
  /*border-right: 2px solid #309196;*/
}

body.tomorrow_night_eighties-theme #leftSide .side-tool {
  background-color: #222D32;
  overflow-x: hidden;
}

body.tomorrow_night_eighties-theme #leftSide #projects ul.project {
  /*border-bottom: 1px dotted #414141*/
}

body.tomorrow_night_eighties-theme #leftSide #projects ul.project a.rm:hover {
  /*color: #a94442;
  border: 1px solid #a94442*/
}

body.tomorrow_night_eighties-theme #leftSide #projects a {
  color: #ccc
}

body.tomorrow_night_eighties-theme #leftSide #projects a:hover {
  color: #309196
}

body.tomorrow_night_eighties-theme #mainApp {
  background-color: #263238
}

body.tomorrow_night_eighties-theme #tabs {
  /*border-bottom: 1px solid #414141*/
}

body.tomorrow_night_eighties-theme #tabs .tab {
  /*border-top: 1px solid #414141;
  border-left: 1px solid #414141;
  border-right: 1px solid #414141;*/
  background-color: #263238
}

body.tomorrow_night_eighties-theme #tabs .tab.selected {
  background-color: #263238;
  border-bottom: 2px solid #309196;
  line-height: 18px;
}

body.tomorrow_night_eighties-theme #tabs .tab>div>div:first-child:hover {
  color: #309196
}

body.tomorrow_night_eighties-theme #tabs .tab>div>div:last-child:hover {
  color: #309196
}

body.tomorrow_night_eighties-theme #tabs #tab-list {
  /*border-left: 1px solid #414141*/
}

body.tomorrow_night_eighties-theme .open .dropdown-toggle.btn {
  background-color: #222D32
}

body.tomorrow_night_eighties-theme .dropdown-menu {
  background-color: #263238;
  color: #ccc;
  border-radius: 0 !important;
}

body.tomorrow_night_eighties-theme .dropdown-menu>li>a {
  color: #ccc;
  background-color: #263238;
  margin-top: -9px;
  padding-top: 12px;
  margin-bottom: -9px;
  padding-bottom: 9px;
}

body.tomorrow_night_eighties-theme .dropdown-menu>li>a:hover {
  border-left: 2px solid teal;
  padding-left: 18px;
}

body.tomorrow_night_eighties-theme .modal-content {
  background-color: #222D32;
  color: #ccc
}

body.tomorrow_night_eighties-theme #rightClickMenu {
  color: #ccc;
  background-color: #263238;
  border: 1px solid #309196;
  border-radius: 0;
}

body.tomorrow_night_eighties-theme #rightClickMenu a {
  color: #ccc
}

body.tomorrow_night_eighties-theme #rightClickMenu hr {
  border-top: 1px solid #309196
}

body.tomorrow_night_eighties-theme select.form-control:after {
  color: #ccc
}

body.tomorrow_night_eighties-theme .close {
  color: #ccc
}

body.tomorrow_night_eighties-theme .preselect {
  color: #ccc
}

body.tomorrow_night_eighties-theme .table>thead>tr>th {
  border-bottom: 2px solid #309196
}

body.tomorrow_night_eighties-theme .table>thead>tr>th,
body.tomorrow_night_eighties-theme .table>tbody>tr>th,
body.tomorrow_night_eighties-theme .table>tfoot>tr>th,
body.tomorrow_night_eighties-theme .table>thead>tr>td,
body.tomorrow_night_eighties-theme .table>tbody>tr>td,
body.tomorrow_night_eighties-theme .table>tfoot>tr>td {
  border-top: 1px solid #414141
}

body.tomorrow_night_eighties-theme .nav-tabs>li.active>a,
body.tomorrow_night_eighties-theme .nav-tabs>li.active>a:hover,
body.tomorrow_night_eighties-theme .nav-tabs>li.active>a:focus {
  color: #ccc;
  background-color: #222D32;
  border: none;
  border-bottom: 1px solid #309196 !important;
}

body.tomorrow_night_eighties-theme .nav-tabs {
  border-bottom: 0
}

body.tomorrow_night_eighties-theme .nav-tabs>li>a:hover {
  border-color: #222D32;
}

body.tomorrow_night_eighties-theme .nav>li>a:hover,
body.tomorrow_night_eighties-theme .nav>li>a:focus {
  text-decoration: none;
  background-color: #222D32
}

body.tomorrow_night_eighties-theme .form-control {
  /*color: #ccc;*/
}

body.tomorrow_night_eighties-theme input[type=checkbox],
body.tomorrow_night_eighties-theme input[type=radio] {
  background-color: #263238;
  color: #ccc;
  border: 1px solid #414141;
  margin-top: 1px;
}

body.tomorrow_night_eighties-theme input[type=checkbox]+label,
body.tomorrow_night_eighties-theme input[type=radio]+label {
  color: #309196;
}

body.tomorrow_night_eighties-theme .modal-header {
  border-bottom: none;
}

body.tomorrow_night_eighties-theme .modal-footer {
  border-top: none
}

body.tomorrow_night_eighties-theme .modal-content {
  /*border: 1px solid #414141*/
}

body.tomorrow_night_eighties-theme .ace_search {
  background-color: rgba(38, 50, 56, 0);
  border: 1px solid #263238;
  color: #ccc;
  padding: 8px;
  border-radius: 0;
  max-width: none;
  position: relative;
  bottom: 0px;
  height: 12%;
  top: 88%;
  width: 50%;
  right: 5px;
  float: right;
}

body.tomorrow_night_eighties-theme .ace_button {
  border: none;
  color: #ccc;
  margin-right: 10px;
}

body.tomorrow_night_eighties-theme .ace_button:hover {
  background-color: #222D32
}

body.tomorrow_night_eighties-theme .ace_search_field {
  background-color: #222D32;
  color: #ccc;
  border-right: none;
  width: 70%;
}

body.tomorrow_night_eighties-theme .ace_replace_form .ace_search_field {
  width: 70%;
}

body.tomorrow_night_eighties-theme .ace_search_form,
body.tomorrow_night_eighties-theme .ace_replace_form {
  border: none;
  width: 100%;
}
body.tomorrow_night_eighties-theme .ace_replace_form {
  display: block !important;
}

body.tomorrow_night_eighties-theme .ace_searchbtn,
body.tomorrow_night_eighties-theme .ace_replacebtn {
  background-color: #222D32;
  border-left: none;
  width: 10%;
}

body.tomorrow_night_eighties-theme .ace_replacebtn {
  width: 12%;
}

body.tomorrow_night_eighties-theme .ace_replacebtn:nth-child(2){
  width: 18%;
}

body.tomorrow_night_eighties-theme .ace_searchbtn_close {
  color: #2E8489;
  margin-top: 2px;
}

body.tomorrow_night_eighties-theme .ace_searchbtn_close:hover {
  background-color: transparent;
  color: #2E8489;
  opacity: 0.5;
}

body.tomorrow_night_eighties-theme #search-tools h4 {
  background-color: #222D32
}

body.tomorrow_night_eighties-theme #search-tools ul li {
  border-bottom: 1px solid #414141
}

body.tomorrow_night_eighties-theme .beamsModal hr {
  border-top: 1px dotted #414141
}

body.tomorrow_night_eighties-theme #webViews .cancel {
  background-color: #222D32
}

body.tomorrow_night_eighties-theme #webViews .cancel .btn {
  color: #a94442
}


#menuBar {
  height: 40px;
}

#menuBar .btn {
  padding: 4px 10px
}

#menuBar #buttons {
  margin: 0 10px 0 0
}

#menuBar #buttons .dropdown-menu {
  left: auto;
  right: -4px;
  top: 37px;
}

#menuBar #quick-search {
  display: inline-block;
  margin: 0 10px 0 0
}

#menuBar #quick-search input {
  height: 31px
}

#menuBar .pull-left img {
  width: 29px;
  margin: 8px 10px 0 10px;
  display: block;
  float: left
}

#menuBar .pull-left span {
  display: block;
  float: left
}

#menuBar .pull-left span.nfont {
  font-size: 26px;
  margin-top: 10px
}

#menuBar .pull-left span.version {
  font-size: 9px;
  margin: 16px 0 0 10px
}

#menuBar #messages {
  margin: 11px 0 0 20px;
  white-space: nowrap
}

#menuBar #messages>div {
  float: left
}

#menuBar #messages>div:after {
  padding: 0 8px;
  content: "\22C5"
}

#menuBar #messages>div:last-child:after {
  padding: 0 0;
  content: ""
}

#menuBar #messages>div:before {
  font-family: FontAwesome;
  padding: 0 5px 0 0
}

#menuBar #messages>div.info:before {
  content: "\f05a"
}

#menuBar #messages>div.info.update:before {
  content: "\f0aa"
}

#menuBar #messages>div.error:before {
  content: "\f188"
}

#no-editor {
  text-align: center
}

#no-editor .nfont {
  font-size: 32px;
  margin: 40px 0 20px 0
}

#no-editor img {
  width: 128px
}

#appWrapper {
  height: calc(100% - 40px);
  position: relative
}

.errorModal i,
.messageModal i {
  display: block;
  text-align: center;
  font-size: 48px
}

.errorModal h3,
.messageModal h3 {
  text-align: center
}

#leftSplitter {
  position: absolute;
  left: 300px;
  top: 0;
  height: 100%;
  width: 5px;
  z-index: 10;
  margin-top: 28px;
}

#leftSplitter>div {
  position: relative;
  height: 100%;
  width: 100%
}

#leftSplitter>div i {
  position: absolute;
  display: block;
  top: calc(50% - 22px);
  font-size: 12px;
  left: 0;
  cursor: pointer;
  padding: 5px 1px;
  margin: 0 0 5px 0
}

#leftSplitter>div .mover {
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: ew-resize
}

#leftSide {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300px;
  vertical-align: top;
  z-index: 2
}

#leftSide>div {
  height: 100%;
  width: 100%
}

#leftSide .menu {
  padding: 0 5px 0 0;
  height: 29px;
  margin-bottom: -1px;
  float: left;
  width: 42px;
  background-color: #222D32;
  height: 100%;
}

#leftSide .menu .btn {
  padding: 3px 9px;
  font-size: 12px;
  border: 0;
  margin-right: -8px;
}

#leftSide .menu .buttons {
  float: right;
  padding: 2px 0 0 0
}

#leftSide .menu .tools {
  padding: 0
}

#leftSide .menu .tools ul {
  padding: 0;
  margin: 0;
  list-style-type: none
}

#leftSide .menu .tools ul li {
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  height: 28px;
  float: left
}

#leftSide .menu .tools ul li span {
  display: block;
  padding: 4px 8px 0 8px
}

#leftSide .side-tool {
  height: 100%;
  width: calc(100% - 42px);
  overflow: auto;
  float: right;
}

#leftSide #projects>div {
  position: relative
}

#leftSide #projects ul {
  margin: 0 0 0 20px;
  padding: 0;
  list-style-type: none;
  width: calc(100% - 20px)
}

#leftSide #projects ul.project {
  margin: 8px 0 5px 0;
  padding: 0 0 5px 5px;
  width: 100%
}

#leftSide #projects ul.project:first-child {
  margin-top: 3px;
}

#leftSide #projects ul.project a.psort {
  display: block;
  float: right;
  opacity: 0.7;
  width: auto;
  padding: 1px 3px 3px 3px;
  cursor: row-resize
}

#leftSide #projects ul.project a.rm {
  display: block;
  float: right;
  width: auto;
  opacity: 0.7;
  padding: 1px 7px 3px 7px
}

#leftSide #projects ul.project a.rm:hover {
  opacity: 1;
  border-radius: 60px
}

#leftSide #projects ul li {
  margin: 0 2px 0 0;
  padding: 0;
  width: 100%;
  white-space: nowrap
}

#leftSide #projects ul li a {
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  display: block
}

#leftSide #projects ul li a.prj {
  width: calc(100% - 40px)
}

#mainApp {
  position: absolute;
  left: 305px;
  top: 0;
  height: 100%;
  width: calc(100% - 305px);
  vertical-align: top;
  z-index: 20
}

#mainApp>div {
  height: 100%;
  width: 100%
}

#tabs {
  height: 29px;
  width: 100%;
  position: relative
}

#tabs #tab-list {
  position: absolute;
  height: 100%;
  width: 27px;
  right: 0
}

#tabs #tab-list .btn-group {
  height: 100%
}

#tabs #tab-list button {
  height: 100%;
  border: 0;
  box-shadow: none;
  background-color: transparent
}

#tabs #tab-list ul {
  left: auto;
  right: 2px;
  top: 22px
}

#tabs .tab-scroll {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: calc(100% - 27px);
  height: 29px
}

#tabs .tab {
  position: absolute;
  bottom: 1px;
  height: 34px;
  width: 130px;
  overflow: hidden;
  padding: 6px 8px 1px 8px;
}

#tabs .tab.selected {
  bottom: 0;
  z-index: 100
}

#tabs .tab.unsaved .name:before {
  position: absolute;
  content: "*";
  font-size: 90%;
  margin: -2px 0 0 -5px
}

#tabs .tab>div {
  position: relative
}

#tabs .tab>div>div:first-child {
  width: 102px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 13px;
  position: absolute;
  top: 2px;
  left: 0;
  white-space: nowrap;
  padding-left: 5px
}

#tabs .tab>div>div:last-child {
  font-weight: bold;
  font-size: 17px;
  position: absolute;
  top: -1px;
  right: 0
}

#editor {
  height: calc(100% - 29px);
  width: 100%;
  font-size: 16px
}

#editor.ace_editor {
  font-family: 'Roboto Mono', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace
}

.prefModal table {
  width: 100%;
  border: 0;
  border-collapse: collapse
}

.prefModal table tr.checks td .checkbox {
  margin-bottom: 0
}

.prefModal table td:first-child {
  padding: 0 20px 0 0
}

#rightClickMenu {
  position: absolute;
  z-index: 5000;
  border-radius: 5px
}

#rightClickMenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none
}

#rightClickMenu ul li {
  padding: 5px 0
}

#rightClickMenu ul li a {
  display: block;
  width: 100%;
  padding: 0 10px
}

#rightClickMenu hr {
  margin: 0
}

.donateModal i.fa {
  display: block;
  float: right;
  padding: 0 0 10px 10px;
  font-size: 48px
}

.helpModal .modal-footer {
  margin-top: 0
}

.helpModal .modal-body {
  padding: 20px 0 0 0
}

.helpModal .modal-body h3 {
  font-family: 'VT323', serif;
  margin-top: 0
}

.helpModal .modal-body .tab-pane {
  padding: 10px 20px;
  max-height: 400px;
  overflow: auto
}

.helpModal .modal-body img {
  float: right;
  width: 128px;
  padding: 0 20px 20px 20px
}

.helpModal .modal-body #help-faq ul li {
  margin: 10px 0
}

.helpModal .modal-body #help-credits ul li {
  margin: 10px 0 20px 0
}

.helpModal #help-os-credits li {
  margin-bottom: 20px
}

.helpModal #help-credits .spin {
  text-align: center
}

.helpModal #help-credits .name {
  float: left;
  width: 240px;
  margin: 0 15px 10px 0;
  font-size: 90%;
  overflow: hidden;
  text-overflow: ellipsis
}

#recentFiles {
  width: 80%;
  margin: 0 auto
}

#recentFiles ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}

#recentFiles ul li {
  margin: 10px;
  padding: 0;
  display: inline-block;
  position: relative
}

#recentFiles ul li a {
  width: 230px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  text-align: left
}

#recentFiles ul li a i {
  padding-right: 8px
}

#support-tools>div {
  padding: 10px
}

#support-tools>div h3 {
  margin: 0 0 10px 0
}

#search-tools form {
  padding: 10px
}

#search-tools form hr {
  margin: 10px 0 15px 0
}

#search-tools form .pre-radio {
  margin-bottom: 0
}

#search-tools form .pre-radio+div.radio,
#search-tools form .pre-radio+div.checkbox {
  margin-top: 0;
}

#search-tools form .checkbox,
#search-tools form .radio {
  margin-bottom: 5px
}

#search-tools form .checkbox label.real,
#search-tools form .radio label.real {
  padding-top: 2px;
  display: inline-block
}

#search-tools hr {
  margin: 0
}

#search-tools h4 {
  font-weight: bold;
  padding: 10px;
  margin: 0;
  font-size: 16px
}

#search-tools ul {
  margin: 0;
  padding: 0;
  list-style-type: none
}

#search-tools ul li {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0
}

#search-tools ul li>div {
  padding: 5px 5px 0 5px;
  font-weight: bold
}

#search-tools ul li table td {
  padding: 0 5px 2px 5px
}

#webViews webview {
  position: absolute;
  z-index: 2000;
  height: calc(100% - 40px);
  width: calc(100% - 55px);
  top: 20px;
  left: 20px
}

#webViews .cancel {
  position: absolute;
  z-index: 2010;
  top: 0;
  right: 0;
  display: none
}

#webViews .cancel .btn {
  font-size: 150%
}

.beamsModal h4 {
  display: inline-block
}

.beamsModal .form-inline>div>div {
  margin-right: 20px
}

.beamsModal .form-inline>div>div.checkbox {
  margin-top: 5px
}

.beamsModal .form-inline>div>div:last-child {
  margin-left: 20px
}

.confirmModal strong {
  font-size: 140%
}

.projectModal .beam-info p {
  padding: 0 0 0 20px
}

.projectModal .beam-info .api_key {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis
}

.projectModal .beam-info select {
  margin-bottom: 10px
}

/* MATERIAL DESIGN CHANGES */
.mdl-textfield__input {
  border-color: #309196 !important;
}
.dropdown-menu .divider {
  opacity: 0.2;
}
.search-toggle {
  max-width: none !important;
}
.ace_searchbtn:last-child, .ace_replacebtn:last-child {
  /*margin-right: 9px;*/
}
.ace_searchbtn_close {
  margin-top: 2px;
}
/*.fa-save:before, .fa-floppy-o:before {*/
/*  font-family: 'Material Icons';*/
/*  content: 'folder_shared';*/
/*}*/
/*.fa-folder-open:before {*/
/*  font-family: 'Material Icons';*/
/*  content: 'folder_open';*/
/*}*/
/*.fa-folder:before {*/
/*  font-family: 'Material Icons';*/
/*  content: 'folder';*/
/*}*/
.fa-folder-open:before {
  font-family: 'Material Icons';
  content: 'folder_open';
}
.fa-folder:before {
  font-family: 'Material Icons';
  content: 'folder';
}

.fa-file-o:before {
  font-family: 'Material Icons';
  content: '';
}
.tomorrow_night_eighties-theme .fa {
  font-size: 14px;
}
.tomorrow_night_eighties-theme .mdl-checkbox__ripple-container .mdl-ripple {
  background: #309196;
}
.tomorrow_night_eighties-theme .mdl-checkbox__box-outline {
  border: 1px solid #309196;
}

.tomorrow_night_eighties-theme .ace_searchbtn {
  min-width: 27px;
  width: inherit;
}
.flash-saving {
  color: #309196;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 10px;
    background: #222D32; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #222D32; 
}

