<div class="pull-left" style="margin-top:-2px;">
  <img src="/img/logo-64.png" alt="">
  <span class="nfont">Material Neutron</span>
  <span class="version">V{{ manifest.version }}</span>
</div>
<div class="pull-right">
  <span class="cursor">{{ cursor }}</span>
</div>
<div class="pull-left" id="messages">
  <div ng-repeat="(id, m) in messages" id="message-{{ m.id }}" class="flash-saving">{{ m.text }}</div>
  <div class="info update clickme" ng-if="update" ng-click="do_update('yes')">Click to Update to V{{ update.version }}</div>
</div>
<!--<div class="pull-right" id="buttons">-->
<!--  <div class="btn-group">-->
<!--    <div class="btn-group">-->
      <!--<button type="button" id="split-button" class="btn" ng-click="split_screen()" style="margin-top: 6px; margin-right: -6px;"><i class="material-icons" style="font-size: 18px;">flip</i></button>-->
      <!--<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">-->
      <!--  <i class="material-icons" style="font-size: 20px;">more_vert</i>-->
      <!--</button>-->
      <!--<ul class="dropdown-menu">-->
      <!--  <li><a class="clickme" ng-click="send_event('keyboard-save')"> Save</a></li>-->
      <!--  <li class="divider"></li>-->
      <!--  <li><a class="clickme" ng-click="send_event('keyboard-close-tab')"> Close</a></li>-->
      <!--  <li class="divider"></li>-->
        <!--<li><a class="clickme" ng-click="send_event('keyboard-toggle-split')"> Toggle Split</a></li>-->
        <!--<li class="divider"></li>-->
      <!--  <li class="dropdown-submenu">-->
      <!--    <a>Recent Files</a>-->
      <!--    <ul class="dropdown-menu">-->
      <!--      <li ng-repeat="file in recent_files track by $index"><a class="clickme" ng-click="open_recent($index)">{{ file.name }}</a></li>-->
      <!--    </ul>-->
      <!--  </li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<button type="button" class="btn" ng-click="pref_modal()"><i class="material-icons" style="font-size: 18px;">settings</i></button>-->
    <!--<button type="button" class="btn" ng-click="help_modal()"><i class="material-icons" style="font-size: 20px; margin-left: -5px;">help_outline</i></button>-->
<!--  </div>-->
<!--</div>-->
<div class="pull-right">
  <p>{{ $scope.tabs[$scope.current_tab].session.$modeId }}</p>
</div>
<div class="clearfix"></div>