<div ng-controller="SideCtrl" id="SideCtrl" ng-click="hide_right();">
  <div class="menu">
    <div class="tools">
      <ul>
        <li ng-class="{active: current_tool == 'projects'}" ng-click="current_tool = 'projects'">
          <i class="material-icons">insert_drive_file</i>
        </li>
        <li id="searchToolTab" ng-class="{active: current_tool == 'search'}" ng-click="current_tool = 'search'">
          <i class="material-icons">search</i>
        </li>
        <li style="margin-bottom: 15px; margin-top: -10px; height: 5px;">
          <hr/>
        </li>
        <li id="collapse" ng-click="collapse()">
          <i class="material-icons">compare_arrows</i>
        </li>
      </ul>
    </div>
  </div>
  <div id="projects" class="side-tool" ng-show="current_tool == 'projects'">
    <div>
      <ul ng-repeat="project in projects track by $index" class="project {{ project.state }}" data-pid="{{ project.pid }}" data-type="{{ project.className() }}">
        <li>
          <a class="clickme rm" ng-click="remove_project(project)"><i class="material-icons" style="font-size: 12px;">close</i></a>
          <a class="psort" project-drag><i class="fa fa-sort"></i></a>
          <a class="prj" ng-click="project.list_dir()" right-click="project.right_menu('dir', project, $event)">
            <span class="fa-stack">
              <i ng-if="project.outline" class="fa fa-square-o fa-stack-2x" ng-class="{'fa-spin': project.working}"></i>
              <i class="fa {{ project.cls }} fa-stack-1x material-icons" ng-class="{'fa-spin': project.working}">folder_shared</i>
            </span>&nbsp;{{ project.name }}
          </a>
          <ul>
            <li class="dir" ng-repeat="entry in project.dirs" ng-include="'side-dirlisting.html'"></li>
            <li class="file" ng-repeat="file in project.files">
              <ng-include src="'side-file.html'"></ng-include>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" ng-show="current_tool == 'projects'" ng-click="project_modal()" style="background-color: #309196; color: #ccc;position: absolute;bottom: 10px;left: 50px;">
      <i class="material-icons">add</i>
    </button>
  </div>
  <div id="search-tools" class="side-tool" ng-show="current_tool == 'search'">
    <div ng-controller="SearchCtrl">
      <ng-include src="'side-search.html'"></ng-include>
    </div>
  </div>
</div>
